<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Blitz</title>
  </head>
  <body>
    <header>
      Welcome to Blitz, The Future of Game Share!

      <nav>
        <a href="/">Home</a>
        <a href="/login">Log In</a>
        <a id="logout" href="#">Log Out</a>
        <a href="/signup">Sign Up</a>
      </nav>
    </header>

    <section>
      {{{body}}}
    </section>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>