<div class="list-group">
{{#each posts as |post|}}
  <a href="/post/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{title}}</h5>
      <small>{{username}}</small>
    </div>
  </a>
  {{/each}}
</div>

<script id="games-template" type="text/x-handlebars-template">
<h1>horror games</h1>
<ul>
    {{#each games}}
    <li>{{this}}</li>
    {{/each}}



