<div class="row">
    <h2>Signup</h2>

    <form class="form signup-form">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
        <button class="btn btn-primary" type="submit">Signup</button>
    </form>
  </div>

<script src="./js/signup.js"></script>