body {
    background-color: rgb(65, 58, 58);
  }
  h2{
    color: antiquewhite;
  }
h3{
    color: antiquewhite;
}
h4{
    color: antiquewhite
}
nav{

    display:flex;
    flex-direction:column;
    margin: 10px;
    padding: 5px;
    background-image: linear-gradient(to bottom right, white, rgb(255,125,125));
    border:10px solid black;
    border-radius: 20px;
}
#Main {
    display:flex;
    flex-direction:row;

}
#Top{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(white,rgb(255,125,125));
    border:10px solid black;
    border-radius: 20px;

}

form{
    display: grid;
    grid-template-columns: 65px 250px;
    grid-gap: 10px;
    margin:auto; 


}

Button{
    border-radius: 10px;
    border-color: red;



}

#signinform{

}

#em-emoji-picker {
    position: absolute;
    top: 150px;
    left: 224px;
    
}



